.detail_doctor {
  margin-top: 80px;
  width: 100%;
  padding-top: 8px;
  .detail_doctor-menu {
    height: 40px;
    padding: 0px 180px;
    display: flex;
    align-items: center;
    i {
      font-size: 16px;
      margin-right: 4px;
      color: rgb(255, 115, 0);
    }
    a {
      font-size: 16px;
      text-decoration: none;
      margin: 0px 4px;
      color: rgb(255, 115, 0);
    }
  }
  .doctor_intro-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 180px;
    .doctor_intro-avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
    }
    .doctor_intro-detail {
      width: 60%;
      margin-left: 8px;
      padding: 0px 8px;
      b {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  .schedule_doctorExtraInfor{
  padding: 0px 180px;
    width: 100%;
    display: flex;
    .schedule_doctorExtraInfor-left{
      width: 50%;
    }
    .schedule_doctorExtraInfor-right{
      width: 50%;
      padding-left: 36px;
      border-left: 1px solid rgb(221, 213, 213);
    }
  }
  .doctor_specialty {
    margin-top: 30px;
    background-color: rgb(251, 253, 236);
    padding: 20px 180px;
  }
}
