.detail_doctor {
  margin-top: 80px;
  padding: 0px 180px;
  width: 100%;
  border: 1px solid goldenrod;
  .detail_doctor-menu {
    margin: 16px 0px;
    i {
      font-size: 16px;
      margin-right: 4px;
      color: rgb(255, 115, 0);
    }
    a {
      font-size: 16px;
      text-decoration: none;
      margin: 0px 4px;
      color: rgb(255, 115, 0);
    }
  }
  .doctor_intro {
    display: flex;
    width: 100%;
    .doctor_intro-avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
    }
    .doctor_intro-detail {
      width: 600px;
      margin-left: 16px;
      padding: 0px 8px;
      b {
        font-size: 20px;
      }
      p {
      }
    }
  }
  .doctor_schedule {
    height: 40px;
    margin-top: 8px;
  }
  .doctor_specialty {
  }
}
