.detail_doctor {
  margin-top: 80px;
  width: 100%;
  border: 1px solid goldenrod;
  .detail_doctor-menu {
    height: 40px;
    padding: 0px 180px;
    display: flex;
    align-items: center;
    i {
      font-size: 16px;
      margin-right: 4px;
      color: rgb(255, 115, 0);
    }
    a {
      font-size: 16px;
      text-decoration: none;
      margin: 0px 4px;
      color: rgb(255, 115, 0);
    }
  }
  .doctor_intro-container {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px 180px;
    .doctor_intro-avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
    }
    .doctor_intro-detail {
      width: 500px;
      margin-left: 8px;
      padding: 0px 8px;
      b {
        font-size: 16px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  .schedule_address{
  padding: 0px 180px;
    width: 100%;
    .schedule_address-left{
      width: 50%;
    }
    .schedule_address-right{
      width: 50%;
    }
  }
  .doctor_specialty {
    margin-top: 40px;
    background-color: rgb(208, 236, 255);
    padding: 20px 180px;
  }
}
