.doctor_schedule{
    width: 100%;
    margin-top: 8px;
    .doctor_schedule-header{
        .select_date{
            width: 132px;
            height: 28px;
            border: none;
            border-bottom: 1px solid rgb(0, 0, 0);
            outline: none;
            color: rgb(0, 0, 0);
            font-weight: 600;
            font-size: 13px;
        }
        .header_logo_text{
            display: flex;
            margin-top: 16px;
            align-items: center;
            i{
                font-size: 14px;
                color: #000000;
                margin-left: 4px;
            }
            p{
                font-size: 13px;
                margin-left: 8px;
                margin-bottom: 0px;
                font-weight: 600;
                color: #000000;
            }
        }

    }
    .doctor_schedule-body{
        .doctor_schedule-table{
            margin-top: 16px;
            .btn_doctor-schedule{
                font-size: 12px;
                font-weight: 600;
                width: 136px;
                height: 30px;
                margin-right: 4px;
                margin-bottom: 4px;
                border-radius: 5px;
                background-color: #fff8ae;
                border: none;
            }
            .btn_doctor-schedule:hover{
                background-color: #79dbe6;
            }
            .noticfication{
                font-size: 13px;
                font-weight: 600;
                color: rgb(255, 115, 0);
                padding-top: 2px;
            }
        }

    }
}