.detail_specialty{
    margin-top: 80px;
    .detail_specialty-header{
        padding: 0px 180px;
        .specialty_header-title{
            padding-top: 12px;
            font-size: 20px;
            font-weight: 600;
        }
        .specialty_header-description{
            margin-top: 12px;
        }
    }
    .detail_specialty-body{
        padding: 20px 180px;
        width: 100%;
        background-color: rgb(213, 240, 255);

        .select-province{
            width: 200px;
            label{
                margin-bottom: 2px;
                font-size: 14px;
                font-weight: 600;
            }
        }
        .detail_specialty-content{
            width: 100%;
            padding-top: 32px;
            .detail_specialty-content-item{
                margin-top: 16px;
                width: 100%;
                display: flex;
                border: 1px solid gray;
                background-color: #fff;
                .specialty_content-left{
                    padding: 8px;
                    width: 50%;
                }
                .specialty_content-right{
                    padding: 8px;
                    width: 50%;
                    border-left: 1px solid rgb(196, 196, 196);
                }
            }
            
            
        }
    }
}