.doctorInfor_showOnSpecialty{
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 16px;
    .avatar {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      object-fit: cover;
    }
    .doctor-detail {
      width: 80%;
      padding: 0px 12px;
      .doctor_name{
        font-size: 16px;
        cursor: pointer;
      }
      .doctor_name:hover{
        color: green;
      }
      .doctor_intro{
        margin-top: 8px;
        font-size: 12px;
      }
      .specialty_location{
        display: flex;
        align-items: center;
        .location_logo{
          margin-right: 8px;
          cursor: pointer;
        }
        .location_name{
          margin: 0px;
          cursor: pointer;

        }
      }
    }
  }