.clinic_manage{
    padding: 0px 20px;
    .clinic_manage-title {
      margin: 8px;
      text-align: center;
      text-transform: upperCase;
      font-size: 20px;
      font-weight: 600;
      color: rgb(240, 120, 8);
    }
    .select_clinic{
        .reactSelect {
            width: 300px;
          }
    }
    .UploadImg {
        label {
          width: 120px;
          height: 32px;
          margin: 0 !important;
          background-color: rgb(238, 238, 238);
          border-radius: 3px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          i {
            margin-right: 4px;
          }
        }
      }
      .previewImg {
        width: 120px;
        height: 120px;
        padding: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          cursor: pointer;
        }
      }

    .markdown{
        margin-top: 16px;
    }

    .save_manageClinic {
        border: none;
        outline: none;
        width: 120px;
        height: 40px;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 90, 207);
        margin-top: 12px;
        margin-bottom: 8px;
        cursor: pointer;
        border-radius: 3px;
      }
}