@import "../../styles/common.scss";

.header-container {
  z-index: 99;
  display: flex;
  justify-content: space-between;
  background-color: $colormain;
  color: $common-text-color;
  height: 40px;
  position: relative;
  .btn-logout {
    color: $common-text-color;
    line-height: 40px;
    height: 40px;
    padding: 0 10px;
    &:hover {
      background-color: darken($colormain, 5);
    }
    i {
      font-size: $base-size + 1px;
    }
  }
  .changeLanguage {
    .welcome {
      margin-right: 20px;
      color: orange;
    }
    .changeLanguage-vi {
      cursor: pointer;
    }
    .changeLanguage-en {
      cursor: pointer;
      margin: 0px 8px;
    }
    .changeLanguage-active {
      color: rgb(255, 145, 0);
    }
  }
}
